<div class="animated fadeIn fast">

    <h3>Citas:</h3>
    <br>

    <h4>Tipo de consulta:</h4>
    <br/>
    <select (change)="funcMostrar($event.target.value)" class="custom-select" id="validationCustom04" required>
        <option *ngFor="let query of typeQueries" [value]="query.id">{{ query.descp }}</option>
    </select>
    <br/>
    <hr>

    <div class="card-columns animated" *ngIf="mostrar == 0 ">
        <div *ngFor="let appointment of appointments" class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Usuario:</h5>
                <p class="card-text">
                    {{ setNamePerson(appointment.id_persona) }}
                </p>
                <h5 class="card-title">Empleado:</h5>
                <p class="card-text">
                    {{ setNameEmployee(appointment.id_trabajador) }}
                </p>
                <h5 class="card-title">Fecha:</h5>
                <p class="card-text">
                    {{ parseDate(appointment.fecha) }}
                </p>
                <h5 class="card-title">Horario:</h5>
                <p class="card-text">
                    {{ appointment.horario }}
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>


    <div *ngIf="mostrar == 1 || mostrar == 2">
        <form (ngSubmit)="onSubmitAppoinmentByDate()">

            <div class="form-group">
                <label for="exampleFormControlInput1">Fecha inicial:</label>
                <input name="fecha" class="form-control" type="date" min="2018-01-01" [(ngModel)]="queryDates.fechaInicial" name="fechaInicial">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Fecha final:</label>
                <input name="fecha" class="form-control" type="date" min="2018-01-01" [(ngModel)]="queryDates.fechaFinal" name="fechaFinal">
            </div>

            <div *ngIf="mostrar == 2" class="form-group">
                <label for="exampleFormControlInput1">Tipo persona:</label>
                <select class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="0">Seleccione una opcion...</option>
                    <option *ngFor="let typeRegister of typeRegisters" [value]="typeRegister.descp" [(ngModel)]="queryDates.tipoPersona" name="tipoPersona">{{ typeRegister.descp }}</option>
                </select>
            </div>

            <br>
            <button class="btn btn-success" type="submit">Buscar</button>
            <br>
            <hr>
        </form>


        <div class="card-columns animated">
            <div *ngFor="let appointmentByDate of appointmentsByDate" class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Usuario:</h5>
                    <p class="card-text">
                        {{ setNamePerson(appointmentByDate.id_persona) }}
                    </p>
                    <h5 class="card-title">Empleado:</h5>
                    <p class="card-text">
                        {{ setNameEmployee(appointmentByDate.id_trabajador) }}
                    </p>
                    <h5 class="card-title">Fecha:</h5>
                    <p class="card-text">
                        {{ parseDate(appointmentByDate.fecha) }}
                    </p>
                    <h5 class="card-title">Horario:</h5>
                    <p class="card-text">
                        {{ appointmentByDate.horario }}
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div *ngIf="appointmentsByDate.length >= 0">
            <a>No hay citas en el rango de fechas seleccionado</a>
        </div>

    </div>


</div>